*{
    margin: 0px;
    padding: 0px;
}


.body{
    background-color: rgb(39, 39, 39);
}


.header{
    background-color:#f5f5f5;
    width: 100%;
    height: 60px;
    position: fixed;
}

.container{
    display: grid;
    grid-template-columns: 150px minmax(700px, 1500px) 150px;
    grid-template-rows: minmax(150px, auto);
    padding-top: 70px;
}

.product{
    background-color: #3f3f3f;
    grid-column: 2;
    display: grid;
    border-radius: 10px;
    grid-template-columns: minmax(50px, 250px) minmax(50px, 250px) minmax(50px, 450px) minmax(50px, 250px);
    grid-template-rows: auto;
    margin-top: 30px;
}

.product-img{
    width: 200px;
    grid-column: 1;
    background-color: aliceblue;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    border: solid black 2px;
}

.product-name{
    grid-column: 2;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.product-descripton{
    grid-column: 3;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: yellow;
}

/* product detail page */

.product-detail-img{
    width: 310px;
    background-color: aliceblue;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    border: solid black 2px;
}

.product-detail-container{
    display: grid;
    grid-template-columns: 150px minmax(1000px, 1fr) 150px;
    grid-template-rows: auto;
    padding-top: 70px;
}

.product-detail{
    background-color: #3f3f3f;
    border-radius: 10px;
    grid-column: 2;
    display: grid;
    grid-template-columns: minmax(150px, 450px) minmax(50px, 250px) minmax(50px, 450px) minmax(50px, 250px);
}

.product-detail-descripton{
    text-align: start;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    grid-column: 3;
}

.product-detail-name{
    text-align: start;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 15px;
    grid-column: 2;
}

@media (max-width:1295px){

    .product-detail-container{
        display: grid;
        grid-template-columns: 100px minmax(1000px, auto) 100px;
        grid-template-rows: auto;
        padding-top: 70px;
    }

    .product-detail-img{
        width: 250px;
        background-color: aliceblue;
        margin: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        border: solid black 2px;
    }

    /* main page */

    .container{
        display: grid;
        grid-template-columns: 100px minmax(700px, 1500px) 100px;
        grid-template-rows: minmax(150px, auto);
        padding-top: 70px;
    }

}

@media (max-width:1200px){

    .product-detail-container{
        display: grid;
        grid-template-columns: 50px minmax(1000px, auto) 50px;
        grid-template-rows: auto;
        padding-top: 70px;
    }

    .product-detail-img{
        width: 230px;
        background-color: aliceblue;
        margin: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        border: solid black 2px;
    }
}

@media (max-width:1095px){

    .product-detail-container{
        display: grid;
        grid-template-columns: 20px minmax(1000px, auto) 20px;
        grid-template-rows: auto;
        padding-top: 70px;
    }

    .product-detail-img{
        width: 210px;
        background-color: aliceblue;
        margin: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        border: solid black 2px;
    }

    /* main page */

    .container{
        display: grid;
        grid-template-columns: 50px minmax(700px, 1500px) 50px;
        grid-template-rows: minmax(150px, auto);
        padding-top: 70px;
    }

    .product-img{
        width: 190px;
        grid-column: 1;
        background-color: aliceblue;
        margin: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        border: solid black 2px;
    }
}

@media (max-width:1035px){

    .product-detail-container{
        display: grid;
        grid-template-columns: 5px minmax(600px, auto) 5px;
        grid-template-rows: auto;
        padding-top: 70px;
    }

    .product-detail-img{
        width: 170px;
        background-color: aliceblue;
        margin: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        border: solid black 2px;
    }

    /* main page */

    .container{
        display: grid;
        grid-template-columns: 5px minmax(700px, 1500px) 5px;
        grid-template-rows: minmax(150px, auto);
        padding-top: 70px;
    }
}

.product-rgb{
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    grid-column: 4;
    padding-top: 15px;
}

.product-detail-rgb{
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    grid-column: 4;
    padding-top: 15px;
}

.product-detail-price{
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    grid-column: 5;
    padding-top: 15px;
}

.product-price{
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    grid-column: 5;
    padding-top: 15px;
}

.register-signin{
    float: right;
    margin-right: 25px;
}

.pos{
    display: grid;
    padding-top: 100px;
    text-align: center;
    grid-template-columns: minmax(50px, auto) minmax(50px, 500px) minmax(50px, auto);
    grid-template-rows: 300px;
}


.reg-input{
    height: 30px;
    width: 70%;
    margin-top: 10px;
}


.reg-form{
    background-color: white;
    border-radius: 10px;
    grid-column: 2;
}

.reg-button{
    width: 30%;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(128, 125, 125);
    border: ridge 2px black;
}

.comments{
    text-align: center;
    position: relative;
}

.send-comment{
    width: 50px;
    height: 20px;
    margin-top: 10px;
    background-color: rgb(128, 125, 125);
    border: ridge 2px black;
}